<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/header.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Card.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <script src="~/Scripts/alertify.js"></script>
    <link href="~/Content/alertifyjs/alertify.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.css" rel="stylesheet" />

</head>
<body style="background-color:white">
    <div class="container-fluid col-xs-12">
        <nav class="[ navbar ][ navbar-bootsnipp animate ]" style="background-color:orange" role="navigation">
            <div class="[ container ]">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="[ navbar-header ]">
                    <button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="[ sr-only ]">Toggle navigation</span>
                        <span class="[ icon-bar ]"></span>
                        <span class="[ icon-bar ]"></span>
                        <span class="[ icon-bar ]"></span>
                    </button>
                    <div class="[ animbrand ]">
                        <a class="[ navbar-brand ][ animate ]" id="home" href="#">SECTOR 45</a>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
                    <ul class="[ nav navbar-nav navbar-right ]">
                        <li><a id="operations" class="animate" href="#">Account Operations</a></li>
                        <li><a id="transfer" class="animate" href="#">Virman-Havale</a></li>
                        <li><a id="addAccount" class="animate" href="#">Add Account</a></li>
                        <li><a id="hgsOperations" class="animate" href="#">HGS Operations</a></li>
                        <li><a id="creditCheck" class="animate" href="#">Credit Check</a></li>
                        <li><a class="animate" id="mobilApp" title="Comming Soon" href="https://play.google.com/store?hl=tr">Mobile App</a></li>
                        <li><a class="animate" id="logOut" href="#">Exit</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    @RenderBody()
    <footer class="row navbar-fixed-bottom" style="text-align:center;margin-top:100px;background-color:orange;color:#337ab7;margin-left:15px;margin-right:15px;border-radius:4px;font-size:10px">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h5>SECTOR 45</h5>
                    <p>Customer is king</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <h5>Sections</h5>
                    <ul class="list-unstyled">
                        <li>Box office attendant:</li>
                        <li>Box office attendant:</li>
                        <li>Box office attendant:</li>
                        <li>Inspector</li>
                        <li>Bank manager</li>
                        <li>General manager</li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <h5>Personnel</h5>
                    <ul class="list-unstyled">
                        <li>Cengizhan KOÇAL</li>
                        <li>Yahya ÖZTÜRK</li>
                        <li>Furkan UZER</li>
                        <li>Furkan DOĞU</li>
                        <li>Mehmet Tuğrul EŞİN</li>
                        <li>Azer ÇELİKTEN</li>
                    </ul>
                </div>
                <div class="footer-copyright text-center py-3 " style="border:2px">@DateTime.Today.ToShortDateString() :Safely from the beginning of the semester.</div>
            </div>
        </div>    
    </footer>
</body>
</html>
<script>
    $(function () {
        $("#home").click(function () {
            window.location="/Membership/Index"
        });
        $("#logOut").click(function () {
            $.ajax({
                type: 'GET',
                url: '/Membership/Logout/',
                success: function () {
                    window.location = "/User/Index";
                },
                error: function myfunction() {
                    alertify.error("Unable to exit!");
                }
            });
        });
        $("#addAccount").click(function () {
            $.ajax({
                type: 'GET',
                url: '/Account/add/',
                success: function (res) {
                    if (JSON.parse(res).status) {
                        addacc(winlocatin5);
                    } else {
                        alertify.error("Failed to create account!");
                    }
                },
                error: function () {
                    alertify.error("Failed to create account!");
                }

            });
        });
        $("#operations").click(function () {
            window.location = "/Account/Operations";
        });
        $("#transfer").click(function () {
            window.location = "/Account/Transfer";
        });
        $("#hgsOperations").click(function () {
            $.ajax({
                type: 'GET',
                url: '/Hgs/cards/',
                success: function (res) {
                    if (JSON.parse(res).status) {
                        window.location = "/Hgs/Index";
                    } else {
                        window.location = "/Hgs/Index";
                    }
                },
                error: function () {
                    alertify.error("Unable to access HGS transactions!");
                }
            });
        });
        $("#creditCheck").click(function () {
            window.location = "/Credit/Index";
        });
        function addacc(callback) {
            setTimeout(() => { alertify.success("Account creation successful"); callback(); }, 1);
        }
        function winlocatin5() {
            setTimeout(() => { window.location = "/Membership/Index"; }, 3000);
        }
    });
    
</script>