@using Sector45_Bank.Data;
@using Sector45_Bank.Models;
@{
    ViewBag.Title = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:100px">
    <ul class="list-group">
        @if (Tkn.accounts != null && Tkn.accounts.Count != 0)
        {
            foreach (Account item in Tkn.accounts)
            {
                if (item.isActive)
                {
                    <li class="selectedAccount list-group-item " name="@item.accountNo" style="text-align:center">Account No:@item.accountNo ; Balance:@item.balance.ToString()</li>
                }
            }
        }
    </ul>
    <div class="row col-md-9"style="text-align:center">
        <input id="amount" type="text" maxlength="4" placeholder="Amount" class="" style="height:34px" onkeypress = "return event.charCode>= 48 &&event.charCode<= 57" />
        <div class="btn-group" role="group" aria-label="Basic example">
            <button id="Deposit" type="button" class="btn btn-success">Deposit</button>
            <button id="Withdraw" type="button" class="btn btn-warning">Withdraw</button>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".selectedAccount").click(function () {
            $("li.selectedAccount").removeClass("active");
            $(this).addClass("active");
        });

        $("#Deposit").click(function () {
            var amount = $("#amount").val();
            var accountNo = $(".active").attr("name");
            if (accountNo != null && amount!=null) {
                $.ajax({
                    type: 'POST',
                    url: '/Operation/Deposit/',
                    data: { no: accountNo, amount: amount },
                    success: function () {
                        alert("Deposit made");
                        $.ajax({
                            type: 'GET',
                            url: '/Account/account',
                            success: function () {
                                window.location = "/Membership/Index/";
                            }
                        });
                    }
                });
            }
            
        });
        $("#Withdraw").click(function () {
            var amount = $("#amount").val();
            var accountNo = $(".active").attr("name");
            if (amount)
            if (accountNo != null && amount != null) {
                $.ajax({
                    type: 'POST',
                    url: '/Operation/Withdraw/',
                    data: { no: accountNo, amount: amount },
                    success: function (response) {
                        if (response) {
                            alert("Withdraw made");
                            $.ajax({
                                type: 'GET',
                                url: '/Account/account',
                                success: function () {
                                    window.location = "/Membership/Index/";
                                }
                            });
                        }
                        else {
                            alert("Withdraw failed")
                        }
                    }
                });
                
            }
        });
    }); 
</script>